@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: "Saira", sans-serif;
}

html {
    font-size: 62.5%;
}

@layer components {
    /*                                                    DEFAULT                                                       */

    .container-view {
        @apply overflow-x-hidden flex justify-center items-center;
    }

    .centralizador-col-between {
        @apply flex flex-col items-start max-w-screen-xl w-full h-full mx-16 md:px-0 md:w-full gap-30 justify-between;
    }

    .centralizador-col-center {
        @apply flex flex-col items-center max-w-screen-xl w-full h-full mx-16 md:px-0 md:w-full justify-center gap-30;
    }

    .centralizador-row-between {
        @apply flex flex-row items-start max-w-screen-xl w-full px-16 md:px-0 gap-30 justify-between;
    }

    .centralizador-row-start {
        @apply flex items-start max-w-screen-xl md:w-full justify-start gap-30;
    }

    .content-img-home {
        @apply w-full h-full bg-[#4D4D4D] absolute left-0 bottom-0 z-0 md:relative md:w-[633px] md:h-[422px] md:flex md:flex-col md:gap-20;
    }

    .nav-a {
        @apply flex items-center justify-center px-12 py-8 bg-bg-nav-pilula border-y-0 border-l-[1px] border-r-0 font-normal border-solid border-black gap-12;
    }
}

@media screen and (min-height: 960px) {
    .responsive-textfield {
        font-size: 9rem;
    }
}

@media screen and (max-height: 960px) {
    .responsive-textfield {
        font-size: 8rem;
    }
}

@media screen and (max-height: 870px) {
    .responsive-textfield {
        font-size: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .responsive-textfield {
        font-size: 4rem;
    }
}
